django
asgiref                      
backports.entry-points-selectable 
cycler                       
distlib                  
dj-database-url              
Django                            
django-heroku                     
django-modeltranslation          
django-user-agents               
filelock                         
fonttools                         
fpdf2                         
future                       
gunicorn                       
kiwisolver                      
linecache2                     
matplotlib                       
mime                            
numpy                             
opencv-python                     
packaging                         
Pillow                          
pip                              
platformdirs                      
psycopg2                          
pydicom                          
pyparsing                        
python-dateutil          
pytz                             
PyYAML                           
setuptools                     
six                             
sqlparse                       
traceback2                       
ua-parser                         
unittest2                     
user-agents                      
virtualenv                        
wheel                            
whitenoise 