{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col headingMain">
            My analysis
        </div>
    </div>
    <div class="row card mt-2">
        <table class="table table-hover table-responsive table-bordered mb-0" id="analysisTable">
            <thead>
                <th>Id.</th>
                <th>Download file</th>
                <th>Uploaded date</th>
                <th>Status</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
            {% for dicom in dicoms%}
                {% if dicom.user == request.user %}
                <tr class="{% if dicom.status == 'Broken'%} broken {% endif %}">
                    <td class="bold">
                        {{ dicom.id }}
                    </td>
                    <td>
                        <a href="{{ dicom.dicom_file.url }}">Download {{ dicom.dicom_file }}</a>
                    </td>
                    <td>   
                        {{ dicom.uploaded_date }}
                    </td>
                    <td class="bold">
                        {{ dicom.status }}
                    </td>
                    <td>
                        <a href="" class="btn btn-success">View</a>
                    </td>
                    <td>
                        <a href="uploadInfo/{{dicom.id}}" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'deleteDicom' dicom.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    if($('table tr').length < 2 ){
        $("table tbody").append("<tr><td colspan='7' style='text-align:center'>No analysis yet</td></tr>");
    }
</script>

{% endblock %}