{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col headingMain">
            Archive
        </div>
    </div>
    <div class="row card mt-2">
        <table class="table table-hover table-responsive table-bordered mb-0" id="analysisTable">
            <thead>
                <th>Id.</th>
                <th>Download file</th>
                <th>Uploaded date</th>
                <th>Status</th>
                <th>View</th>
                <th>Delete</th>
            </thead>
            <tbody>
            {% for dicom in page.object_list %}
                <tr class="broken">
                <tr>
                    <td class="bold">
                        {{ dicom.id }}
                    </td>
                    <td>
                        <a href="{{ dicom.dicom_file.url }}">Download {{ dicom.dicom_file }}</a>
                    </td>
                    <td>   
                        {{ dicom.uploaded_date }}
                    </td>
                    <td class="bold">
                        {{ dicom.status }}
                    </td>
                    <td>
                        <a href="uploadView/{{dicom.id}}" class="btn btn-success">View</a>
                    </td>
                    <td>
                        <a href="{% url 'deleteDicom' dicom.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_pag %}
    <div class="my-3 row">
      <div class="col d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item {% if not prev_url %} disabled {% endif %}">
              <a class="page-link" href="{{prev_url}}">Previous</a>
          </li>
          {% for n in page.paginator.page_range %}
          {% if n == page.number %}
          <li class="page-item bold" aria-current="page">
              <a class="page-link" href="?page={{n}}">{{n}}
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          {% elif n > page.number|add:-3 and n < page.number|add:3 %}
          <li class="page-item">
              <a class="page-link" href="?page={{n}}">{{n}}</a>
          </li>
          {% endif %}
          {% endfor %}

          <li class="page-item {% if not next_url %} disabled {% endif %}">
              <a class="page-link" href="{{next_url}}">Next</a>
          </li>
      </ul>
      </div>
    </div>
    {% endif %}
</div>

<script>
    if($('table tr').length < 2 ){
        $("table tbody").append("<tr><td colspan='7' style='text-align:center'>No analysis yet</td></tr>");
    }
</script>

{% endblock %}