{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/fontawesome/css/all.css' %}">
</head>
<body>
    <section id="navigation">
        <nav class="navbar fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">DICOM VIEWER</a>
                <div>
                    <a href="{% url 'register' %}">Register</a>
                </div>
                <div>
                    <a href="{% url 'docAppl' %}">Applications</a>
                </div>
                {% if request.user.is_authenticated %}
                <div>
                    <div>Hello, {{request.user}} </div>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
                {% endif %}
            </div>
          </nav>
    </section>
    {% block content %}{% endblock %}
</body>
<script src="{% static 'main/js/bootstrap.bundle.min.js'%}"></script>
</html>
