{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col headingMain">
            Jūsu izmēklējumi
        </div>
    </div>
    <div class="row card mt-2">
        <table class="table">
            <thead>
                <th>Nr.</th>
                <th>Datne</th>
            </thead>
            <tbody>
                {% for dicom in dicoms%}
                <tr>
                  <td>
                    {{ dicom.dicom_file }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}