{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/fontawesome/css/all.css' %}">
        <script src="{% static 'main/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    </head>
    <body id="viewer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-md-5 flex01">
            <div class="container-fluid">
                <div class="navbar-brand">DICOM VIEWER</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center px-2">
                        <a class="nav-link" href="{% url 'dataBaseAll' %}"><i class="fas fa-database me-2"></i>Database</a>
                    </li>
                    <li class="nav-item d-flex align-items-center px-2">
                        <a class="nav-link"><i class="fas fa-desktop me-2"></i>Viewer</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center px-2">
                        <a class="nav-link"  href="{% url 'logout' %}"><i class="fas fa-sign-out-alt me-2"></i></i>Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item d-flex align-items-center px-2">
                        <a class="nav-link"  href="{% url 'register' %}"><i class="fas fa-user-plus me-2"></i>Register</a>
                    </li>
                    <li class="nav-item d-flex align-items-center px-2">
                        <a class="nav-link"  href="{% url 'docAppl' %}"><i class="fas fa-edit me-2"></i>Application (doc)</a>
                    </li>
                    {% endif %}
                    </ul>
                    {% if request.user.is_authenticated %}
                    <span class="navbar-text">
                        Hello, {{request.user}} 
                    </span>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container-fluid flex01">
            <div class="row p-2 border-bottom" id="instruments">
                <div class="col-2">
                    <div class="row d-flex align-items-center justify-content-center">
                    Instruments
                    </div>
                </div>
                <div class="col-2 functions">
                    <div class="d-flex justify-content-between border-right border-left">
                    <div>
                        <button type="button" name="button" class="btn btnViewer"><i class="fas fa-search"></i></button>
                        <div class="position-absolute tool">
                        <input type="range" class="form-control-range slider" id="scaleControll" min="0.5" max="3" step="0.1" value="1">
                        </div>
                    </div>
                    <div>
                        <button type="button" name="button" class="btn btnViewer" id="btnViewer"><i class="fas fa-adjust"></i></button>
                        <div class="position-absolute tool">
                        <input type="range" class="form-control-range slider" id="contrastControll" min="-100" max="100" step="1" value="0">
                        </div>
                    </div>
                    <div>
                        <button type="button" name="button" class="btn btnViewer">
                        <i class="fas fa-sun"></i>
                        </button>
                        <div class="position-absolute tool">
                        <input type="range" class="form-control-range slider" id="brightnessControll" min=-1 max="1" step="0.1" value="0">
                        </div>
                    </div>
                    <div>
                        <button type="button" name="button" class="btn btnViewer"><i class="fas fa-sync-alt"></i></button>
                        <div class="position-absolute tool">
                        <input type="range" class="form-control-range slider" id="rotationControll" min="0" max="360" step="1" value="0">
                        </div>
                    </div>
                    <div>
                        <button type="button" name="button" class="btn btnViewer" id="btnMove"><i class="fas fa-arrows-alt"></i></button>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col d-flex justify-content-center">
                        mouse functions
                    </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-between border-right">
                    <button type="button" class="btn" id="btnRuler"><i class="fas fa-ruler"></i></button>
                    <button type="button" class="btn" id="btnAngle"><i class="fas fa-ruler-combined"></i></button>
                    <button type="button" class="btn"><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn"><i class="far fa-circle"></i></button>
                    <button type="button" name="button" class="btn"><i class="fas fa-vector-square"></i></button>
                    <button type="button" name="button" class="btn">HU</button>
                    <button type="button" name="button" class="btn"><i class="fas fa-grip-lines"></i></button>
                    <button type="button" name="button" class="btn"><i class="fas fa-long-arrow-alt-right"></i></button>
                    <button type="button" name="button" class="btn"><i class="fas fa-grip-lines-vertical"></i></button>
                    <button type="button" name="button" class="btn"><i class="fas fa-star-of-life"></i></button>
                    <button type="button" name="button" class="btn"><i class="fas fa-long-arrow-alt-right"></i></button>
                    <button type="button" name="button" class="btn"><i class="fas fa-long-arrow-alt-right"></i></button>
                    </div>
                    <div class="row">
                    <div class="col d-flex justify-content-center">
                        measuraments
                    </div>
                </div>
            </div>
            </div>

        </div>
        <div class="container-fluid flex11">
            <div class="row" id="viewerBox">
                <div id="viewerPlace" class="col-4 border-right">
                    <div class="row px-2 mt-2">
                    <div class="col">
                        {{ user_name }}
                    </div>
                    </div>
                    <div class="row px-2 mt-1">
                    <div class="col">
                        THORAX, CT, 02.03.2020 | 23:23
                    </div>
                    </div>
                    <div class="row px-3 mt-2">
                    <div class="col-12 border d-flex p-2">
                        <div class="likeImage mr-2"></div>
                        <div class="likeImage mr-2"></div>
                        <div class="likeImage mr-2"></div>
                        <div class="likeImage mr-2"></div>
                        <div class="likeImage mr-2"></div>
                    </div>
                    </div>
                    <form method="post">{% csrf_token %}
                        <div class="row px-3 mt-4">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col">
                                        Add medical verdict:
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="medical_verdict"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col"><button type="submit" class="btn btn-primary">Submit</button></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-8" id="container">
                </div>
            </div>
        </div>
        <script src="{% static 'main/js/konva.js' %}"></script>
        <script src="{% static 'main/js/viewer.js' %} "></script>
        <script>
            var sources = {
                xray: "{{ image }}",
            };
            var pixel_spacing_x = {{pixel_spacing_x}};
            var pixel_spacing_y = {{pixel_spacing_y}};
            var data_for_watermark = '{{user_name}}' + ', ' + '{{dicom.patient_id}}' + ', ' + '{{dicom.study_date}}' + '\n\nSērija: ' + '{{dicom.modality}}'
        </script>        
    </body>
</html>

